[Desktop Entry]
Type=Application
Exec=/usr/sbin/configure-cups
Icon=configure-cups
Name=Configure Cups
Name[ru]=Настройка принтера
Name[uk]=Налаштування принтера
GenericName=Set Up Printer(s)
GenericName[de]=Druckerkonfiguration
GenericName[pt]=Configuração de impressora
Categories=Settings;
Keywords=Printer;configuration;
