[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=su-to-root -X -c /usr/sbin/cupsconfig
Icon=sidux-cups
Name=Configure printer(s)
Comment=Configure printer(s)
Name[de]=Drucker konfigurieren
Comment[de]=Drucker konfigurieren
Categories=Settings;
