[Desktop Entry]
Comment[de]=Drucker konfigurieren
Comment=Configure printer(s)
Exec=su-me /usr/sbin/cupsconfig
Icon=printmgr
Name[de]=Drucker konfigurieren
Name=Configure printer(s)
Type=Application
