Source: configure-cups
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), imagemagick
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/configure-cups/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/configure-cups/trunk/

Package: configure-cups
Architecture: all
Depends: cupsys, cupsys-client, su-me, sidux-xdg
Recommends: kcontrol, xbase-clients, kdeprint, kdebase-bin
Description: Minimalistic cups configuration script
 Configuration wizzard for sidux.
