Source: configure-cups
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Joaquim Boura <x-un-i@sidux.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Vcs-Svn: svn://svn.berlios.de/fullstory/configure-cups/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/configure-cups/trunk/

Package: configure-cups
Architecture: all
Depends: ${misc:Depends},
         cups,
         cups-client
Recommends: kcontrol,
            xbase-clients,
            kdeprint,
            kdebase-bin,
            menu
Description: Minimalistic cups configuration script
 Configuration wizzard for sidux.
